<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChargeMapper">
    <insert id="chargeInsert" parameterType="com.example.demo.dto.ChargeDTO">
        BEGIN
            insert into charge(PAY_DATE, CHARGE_CODE, INST_NAME, CHARGE_NAME, PAYER, PAY_AMOUNT, EMP_CODE) values (#{PAY_DATE}, #{CHARGE_CODE}, #{INST_NAME}, #{CHARGE_NAME}, #{PAYER}, #{PAY_AMOUNT}, #{EMP_CODE});
        END;
    </insert>
</mapper>