<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <insert id="employeeInsert" parameterType="com.example.demo.dto.EmployeeDTO">
        BEGIN
            insert into employee(EMP_CODE, EMP_NAME, EMP_AGE, EMP_GENDER, EMP_PHONE_NO, EMP_MAIL_NO, EMP_ACCOUNT_NO, PART, SALARY) values (#{EMP_CODE}, #{EMP_NAME}, #{EMP_AGE}, #{EMP_GENDER}, #{EMP_PHONE_NO}, #{EMP_MAIL_NO}, #{EMP_ACCOUNT_NO}, #{PART}, #{SALARY});
        END;
    </insert>
</mapper>