<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <resultMap id="employeeDTO" type="com.example.demo.dto.EmployeeDTO">
        <result property="EMP_CODE" column="EMP_CODE"/>
        <result property="EMP_NAME" column="EMP_NAME"/>
        <result property="EMP_AGE" column="EMP_AGE"/>
        <result property="EMP_GENDER" column="EMP_GENDER"/>
        <result property="EMP_PHONE_NO" column="EMP_PHONE_NO"/>
        <result property="EMP_MAIL_NO" column="EMP_MAIL_NO"/>
        <result property="EMP_ACCOUNT_NO" column="EMP_ACCOUNT_NO"/>
        <result property="PART" column="PART"/>
        <result property="SALARY" column="SALARY"/>
    </resultMap>

    <insert id="employeeInsert" parameterType="com.example.demo.dto.EmployeeDTO">
        BEGIN
            insert into employee(EMP_CODE, EMP_NAME, EMP_AGE, EMP_GENDER, EMP_PHONE_NO, EMP_MAIL_NO, EMP_ACCOUNT_NO, PART, SALARY) values (#{EMP_CODE}, #{EMP_NAME}, #{EMP_AGE}, #{EMP_GENDER}, #{EMP_PHONE_NO}, #{EMP_MAIL_NO}, #{EMP_ACCOUNT_NO}, #{PART}, #{SALARY});
        END;
    </insert>

    <select id="employeeSelect" resultMap="employeeDTO">
        select * from EMPLOYEE
    </select>

    <select id="employeeCodeSelect" parameterType="string" resultMap="employeeDTO">
        select * from EMPLOYEE where EMP_CODE = #{CODE}
    </select>

    <update id="employeeUpdate" parameterType="com.example.demo.dto.EmployeeDTO">
        BEGIN
            update EMPLOYEE set EMP_NAME = #{EMP_NAME}, EMP_AGE = #{EMP_AGE}, EMP_GENDER = #{EMP_GENDER}, EMP_PHONE_NO = #{EMP_PHONE_NO}, EMP_MAIL_NO = #{EMP_MAIL_NO}, EMP_ACCOUNT_NO = #{EMP_ACCOUNT_NO}, PART = #{PART}, SALARY = #{SALARY} where EMP_CODE = #{EMP_CODE};
        END;
    </update>

    <delete id="employeeCodeDelete" parameterType="String">
        delete from EMPLOYEE where EMP_CODE = #{CODE}
    </delete>
</mapper>