<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MembershipMapper">
    <resultMap id="membershipDTO" type="com.example.demo.dto.MembershipDTO">
        <result property="MEMBERSHIP_CODE" column="MEMBERSHIP_CODE"/>
        <result property="MEMBERSHIP_NAME" column="MEMBERSHIP_NAME"/>
        <result property="MEMBERSHIP_AGE" column="MEMBERSHIP_AGE"/>
        <result property="MEMBERSHIP_GENDER" column="MEMBERSHIP_GENDER"/>
        <result property="MEMBERSHIP_MAIL_NO" column="MEMBERSHIP_MAIL_NO"/>
        <result property="MEMBERSHIP_PHONE_NO" column="MEMBERSHIP_PHONE_NO"/>
        <result property="MEMBERSHIP_MILEAGE" column="MEMBERSHIP_MILEAGE"/>
    </resultMap>

    <insert id="membershipInsert" parameterType="com.example.demo.dto.MembershipDTO">
        BEGIN
           insert into MEMBERSHIP(MEMBERSHIP_CODE, MEMBERSHIP_NAME, MEMBERSHIP_AGE, MEMBERSHIP_GENDER, MEMBERSHIP_MAIL_NO, MEMBERSHIP_PHONE_NO, MEMBERSHIP_MILEAGE) values (#{MEMBERSHIP_CODE}, #{MEMBERSHIP_NAME}, #{MEMBERSHIP_AGE}, #{MEMBERSHIP_GENDER}, #{MEMBERSHIP_MAIL_NO}, #{MEMBERSHIP_PHONE_NO}, #{MEMBERSHIP_MILEAGE});
        END;
    </insert>

    <select id="membershipSelect" resultMap="membershipDTO">
        select * from MEMBERSHIP
    </select>

    <select id="membershipNameSelect" parameterType="string" resultMap="membershipDTO">
        select * from MEMBERSHIP where MEMBERSHIP_NAME = #{NAME}
    </select>

    <select id="membershipPhoneSelect" parameterType="string" resultMap="membershipDTO">
        select * from MEMBERSHIP where MEMBERSHIP_PHONE_NO = #{PHONE}
    </select>

    <select id="membershipCodeSelect" parameterType="string" resultMap="membershipDTO">
        select * from MEMBERSHIP where MEMBERSHIP_CODE = #{CODE}
    </select>

    <update id="membershipUpdate" parameterType="com.example.demo.dto.MembershipDTO">
        BEGIN
            update MEMBERSHIP set MEMBERSHIP_NAME = #{MEMBERSHIP_NAME}, MEMBERSHIP_AGE = #{MEMBERSHIP_AGE}, MEMBERSHIP_GENDER = #{MEMBERSHIP_GENDER}, MEMBERSHIP_MAIL_NO = #{MEMBERSHIP_MAIL_NO}, MEMBERSHIP_PHONE_NO = #{MEMBERSHIP_PHONE_NO}, MEMBERSHIP_MILEAGE = #{MEMBERSHIP_MILEAGE} where MEMBERSHIP_CODE = #{MEMBERSHIP_CODE};
        end;
    </update>
</mapper>