<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OrderlistMapper">
    <resultMap id="orderlistDTO" type="com.example.demo.dto.OrderlistDTO">
        <result property="ORDER_PRODUCT_QUANTITY" column="ORDER_PRODUCT_QUANTITY"/>
        <result property="ORDER_PRODUCT_PRICE" column="ORDER_PRODUCT_PRICE"/>
        <result property="COMPANY_CODE" column="COMPANY_CODE"/>
        <result property="PRODUCT_CODE" column="PRODUCT_CODE"/>
        <result property="ORDER_CODE" column="ORDER_CODE"/>
        <result property="ORDER_DATE" column="ORDER_DATE"/>
    </resultMap>

    <insert id="orderlistInsert" parameterType="com.example.demo.dto.OrderlistDTO">
        BEGIN
           insert into ORDER_LIST(ORDER_PRODUCT_QUANTITY, ORDER_PRODUCT_PRICE, COMPANY_CODE, PRODUCT_CODE, ORDER_CODE, ORDER_DATE) values (#{ORDER_PRODUCT_QUANTITY}, #{ORDER_PRODUCT_PRICE}, #{COMPANY_CODE}, #{PRODUCT_CODE}, #{ORDER_CODE}, #{ORDER_DATE});
        END;
    </insert>

    <select id="orderlistSelect" resultMap="orderlistDTO">
        select * from ORDER_LIST
    </select>

    <select id="orderlistDateSelect" parameterType="string" resultMap="orderlistDTO">
        select * from ORDER_LIST where ORDER_DATE = #{DATE}
    </select>

    <select id="orderlistDateCodeSelect" parameterType="com.example.demo.dto.OrderlistDTO" resultMap="orderlistDTO">
        select * from ORDER_LIST where ORDER_DATE = #{ORDER_DATE} and ORDER_CODE = #{ORDER_CODE}
    </select>

    <select id="orderlistDateCodePcodeSelect" parameterType="com.example.demo.dto.OrderlistDTO" resultMap="orderlistDTO">
        select * from ORDER_LIST where ORDER_DATE = #{ORDER_DATE} and ORDER_CODE = #{ORDER_CODE} and PRODUCT_CODE = #{PRODUCT_CODE}
    </select>

    <update id="orderlistUpdate" parameterType="com.example.demo.dto.OrderlistDTO">
        BEGIN
            update ORDER_LIST set ORDER_PRODUCT_QUANTITY = #{ORDER_PRODUCT_QUANTITY}, ORDER_PRODUCT_PRICE = #{ORDER_PRODUCT_PRICE}, COMPANY_CODE = #{COMPANY_CODE} where PRODUCT_CODE = #{PRODUCT_CODE} and ORDER_CODE = #{ORDER_CODE} and ORDER_DATE = #{ORDER_DATE};
        end;
    </update>
</mapper>