<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OutcomeMapper">
    <resultMap id="outcomeDTO" type="com.example.demo.dto.OutcomeDTO">
        <result property="OUTCOME_AMOUNT" column="OUTCOME_AMOUNT"/>
        <result property="OUTCOME_CODE" column="OUTCOME_CODE"/>
        <result property="OUTCOME_DATE" column="OUTCOME_DATE"/>
    </resultMap>

    <insert id="outcomeInsert" parameterType="com.example.demo.dto.OutcomeDTO">
        BEGIN
           insert into outcome(OUTCOME_AMOUNT, OUTCOME_CODE, OUTCOME_DATE) values (#{OUTCOME_AMOUNT}, #{OUTCOME_CODE}, #{OUTCOME_DATE});
        END;
    </insert>

    <select id="outcomeSelect" resultMap="outcomeDTO">
        select * from outcome
    </select>
</mapper>