<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PurchaseMapper">
    <insert id="purchaseInsert" parameterType="com.example.demo.dto.PurchaseDTO">
        BEGIN
           insert into PURCHASE(PURCHASE_MILEAGE, CARD_ACCOUNT_NO, CARD_PURCHASE_AMOUNT, VOUCHER_NO, VOUCHER_PURCHASE_AMOUNT, COUPON_NO, COUPON_PURCHASE_AMOUNT, CASH_PURCHASE_AMOUNT, USE_MILEAGE, EMP_CODE, MEMBERSHIP_CODE, PURCHASE_DATE, PURCHASE_CODE, PURCHASE_AMOUNT) values (#{PURCHASE_MILEAGE}, #{CARD_ACCOUNT_NO}, #{CARD_PURCHASE_AMOUNT}, #{VOUCHER_NO}, #{VOUCHER_PURCHASE_AMOUNT}, #{COUPON_NO}, #{COUPON_PURCHASE_AMOUNT}, #{CASH_PURCHASE_AMOUNT}, #{USE_MILEAGE}, #{EMP_CODE}, #{MEMBERSHIP_CODE}, #{PURCHASE_DATE}, #{PURCHASE_CODE}, #{PURCHASE_AMOUNT});
        END;
    </insert>
</mapper>