<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.StorageMapper">
    <resultMap id="storageDTO" type="com.example.demo.dto.StorageDTO">
        <result property="PRODUCT_NAME" column="PRODUCT_NAME"/>
        <result property="STORAGE_QUANTITY" column="STORAGE_QUANTITY"/>
        <result property="PRODUCT_PRICE" column="PRODUCT_PRICE"/>
        <result property="PRODUCT_DC" column="PRODUCT_DC"/>
        <result property="PB_PRODUCT" column="PB_PRODUCT"/>
        <result property="PRODUCT_CODE" column="PRODUCT_CODE"/>
    </resultMap>

    <insert id="storageInsert" parameterType="com.example.demo.dto.StorageDTO">
        BEGIN
            insert into STORAGE(PRODUCT_NAME, STORAGE_QUANTITY, PRODUCT_PRICE, PRODUCT_DC, PB_PRODUCT, PRODUCT_CODE) values (#{PRODUCT_NAME}, #{STORAGE_QUANTITY}, #{PRODUCT_PRICE}, #{PRODUCT_DC}, #{PB_PRODUCT}, #{PRODUCT_CODE});
        END;
    </insert>

    <select id="storageSelect" resultMap="storageDTO">
        select * from STORAGE
    </select>

    <select id="storageNameSelect" parameterType="string" resultMap="storageDTO">
        select * from STORAGE where PRODUCT_NAME = #{NAME}
    </select>

    <select id="storageCodeSelect" parameterType="string" resultMap="storageDTO">
        select * from STORAGE where PRODUCT_CODE = #{CODE}
    </select>

    <update id="storageUpdate" parameterType="com.example.demo.dto.StorageDTO">
        BEGIN
           update STORAGE set PRODUCT_NAME = #{PRODUCT_NAME}, STORAGE_QUANTITY = #{STORAGE_QUANTITY}, PRODUCT_PRICE = #{PRODUCT_PRICE}, PRODUCT_DC = #{PRODUCT_DC}, PB_PRODUCT = #{PB_PRODUCT} where PRODUCT_CODE = #{PRODUCT_CODE};
        END;
    </update>

    <delete id="storageCodeDelete" parameterType="string">
        delete from STORAGE where PRODUCT_CODE = #{CODE}
    </delete>
</mapper>